@use 'TimeStyle';

#app {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: auto;

	#title {
		margin-top: 2rem;
		font-size: 4rem;
		text-align: center;
		font-weight: 900;
		display: none;
	}

	.time-management {
		@include TimeStyle.layoutTimeManagement();
		margin-top: 2rem;
	}
}

@media only screen and (min-width: 360px) {
	#app {
		#title {
			margin-bottom: 3rem;
			font-size: 5rem;
			display: block;
		}
	}
}

@media only screen and (min-width: 700px) {
	#app {
		.time-management {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}

		#title {
			margin-bottom: 5rem;
			font-size: 7rem;
		}
	}
}

@media only screen and (min-width: 1200px) {
	#app {
		#title {
			margin-top: 3rem;
			margin-bottom: 3rem;
			font-size: 4rem;
			display: none;
		}

		.time-management {
			margin-bottom: 2rem;
		}
	}
}
